# User-specific files
*.suo
*.user
*.sln.docstates
.vs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
packages/
Samples/HtmlToPdf/.local-chromium
Samples/HtmlToPdf/*.pdf
Samples/Output/*.pdf