@page "/"
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO;
@using BitMiracle.Docotic
@using BitMiracle.Docotic.Pdf;

<h1>Create PDF document</h1>

<button class="btn btn-primary" @onclick="@GeneratePdf">Generate PDF</button>

@functions {
    void GeneratePdf()
    {
        // NOTE:
        // Without a license, the library won't allow you to create or read PDF documents.
        // To get a free time-limited license key, use the form on
        // https://bitmiracle.com/pdf-library/download

        LicenseManager.AddLicenseData("PUT-LICENSE-HERE");

        string uid = Guid.NewGuid().ToString();

        using (var pdf = new PdfDocument())
        {
            PdfCanvas canvas = pdf.Pages[0].Canvas;
            canvas.Font = pdf.CreateFont(PdfBuiltInFont.TimesRoman);
            canvas.DrawString(10, 70, "Hello, world! " + uid);

            using (var memoryStream = new MemoryStream())
            {
                pdf.Save(memoryStream);

                JS.InvokeAsync<object>(
                   "downloadFile",
                   uid + ".pdf",
                   Convert.ToBase64String(memoryStream.ToArray())
                );
            };
        }
    }
}